*:focus{
    outline:none; /* Prevents blue border in Webkit */
}

html, body {
}

form {
    font: 14px "Lucida Grande", Verdana, sans-serif;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    border: 1px solid #e1ecf5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

fieldset {
    padding: 10px;
    border: 1px solid #729fb2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

legend {
    font-size: 14px;
    color: #729fb2;
    text-align: left;
}

A {
    text-decoration: NONE;
    color:#15428B;
    font-size:12px;
}

A:hover {
    text-decoration: NONE;
    color:#FF3300;
	cursor: pointer;
}

input[type=text], input[type=search], input[type=url], input[type=number], input[type=tel], input[type=email], input[type=date], input[type=datetime], input[type=password], textarea, select {
    width: 100%;
    height: 30px;
    border: 1px solid #cfdfe3;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    font-size:15px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #729fb2;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    -webkit-box-shadow: 0 0 0 2px #e1ecf5;
    -moz-box-shadow: 0 0 0 2px #e1ecf5;
    box-shadow: 0 0 0 2px #e1ecf5;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    transform: scale(1.02);
}

input:checked {
	-webkit-box-shadow: 0 0 3px 3px #ff171a;
    -moz-box-shadow: 0 0 3px 3px #ff171a;
    box-shadow: 0 0 3px 3px #ff171a;
}

button {
    vertical-align: middle;
    height: 35px;
    font-weight: bold;
    font-size: 15px;
    color: #729fb2;
    border: 1px solid #bed6e3;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius: 5px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #ffffff, #d0e6ee);
    background-image: -moz-linear-gradient(top, #ffffff, #d0e6ee);
    background-image: -o-linear-gradient(top, #ffffff, #d0e6ee);
    background-image: linear-gradient(to bottom, #ffffff, #d0e6ee);
}

button:active {
    font-size: 15.2px;
    -webkit-box-shadow: 0 0 0 2px #e1ecf5;
    -moz-box-shadow: 0 0 0 2px #e1ecf5;
    box-shadow: 0 0 0 2px #e1ecf5;
}

.auto_hidden {
    width:100%;
    position:absolute;
    display:none;
	border: 1px solid #cfdfe3;
}
.auto_show {
    position:absolute;
    z-index:9999; /* 设置对象的层叠顺序 */
    display:block;
    border: 1px solid #cfd5da;
}
.auto_onmouseover{
    color:#000000;
    background-color:#f5f5f5;
	padding: 10px;
}
.auto_onmouseout{
    color:#000000;
    background-color:#ffffff;
	padding: 10px;
}
