/**
.switch-box {
  display: block;
}
.switch-box .switch-box-slider {
  position: relative;
  display: inline-block;
  height: 8px;
  width: 32px;
  background: #d5d5d5;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.switch-box .switch-box-slider:after {
  position: absolute;
  left: -8px;
  top: -8px;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #eeeeee;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  content: '';
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.switch-box .switch-box-input {
  display: none;
}
.switch-box .switch-box-input ~ .switch-box-label {
  margin-left: 8px;
}
.switch-box .switch-box-input:checked ~ .switch-box-slider:after {
  left: 16px;
}
.switch-box .switch-box-input:disabled ~ .switch-box-slider {
  background: #e2e2e2;
  cursor: default;
}
.switch-box .switch-box-input:disabled ~ .switch-box-slider:after {
  background: #d5d5d5;
}
.switch-box.is-danger .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
  background: #ed7669;
}
.switch-box.is-danger .switch-box-input:checked:not(:disabled) ~ .switch-box-slider:after {
  background: #e74c3c;
}

.container{
  width: 270px;
}
**/

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background-repeat: no-repeat;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAaCAIAAABdDBlVAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAANJJREFUSEvtlTsOwzAIhpMr9xI5Q6eeoEvHSlHHHKBr7uJSIf1CPByHwUtsWVEe4A9+iJhLKVOHRZgOa+rA+As2MOcVGKKd1+wqnXZ7vNRenivJxS+hm3q0BmwZdhr86ebz3ekqMRWSBR9jGMAbmPt7c8/iwDMYdlPZEKbSbBmMLA9lYwsmE81kExXZrTnrmcG4gbvSo2xSYdkjTYOgpYORDQqZxMAfvSdV4rLxJ2tw3NA2FRdjT1eOtUGgAoyClT8ytGrFuIzolKg1YD/GWmKs/QAg4jiWPOeSfAAAAABJRU5ErkJggg==');
}
.tgl-light:checked + .tgl-btn {
    border-bottom-color: #accbd9;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius: 15px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #e6f2f7, #d0e6ee);
    background-image: -moz-linear-gradient(top, #e6f2f7, #d0e6ee);
    background-image: -o-linear-gradient(top, #e6f2f7, #d0e6ee);
    background-image: linear-gradient(to bottom, #e6f2f7, #d0e6ee);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 4px #eef7f9;
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 4px #eef7f9;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 4px #eef7f9;
}


