.xThead TD {
    background:-moz-linear-gradient(top,#BBD9F3,#FFFFFF);/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#BBD9F3), to(#FFFFFF));/*谷歌*/
    background: -ms-linear-gradient(top, #BBD9F3, #FFFFFF);
    background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #BBD9F3),color-stop(1, #FFFFFF));/* Safari & Chrome*/
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#BBD9F3', endColorStr='#FFFFFF', gradientType=0);/* ie */
    color: #15428B;
    font-weight:bold;
    border:0;
    font-size: 13px;
    height: 35px;
    cursor: pointer;
    word-wrap:normal;
    word-break:keep-all;
}

.xTfoot TD {
    background:-moz-linear-gradient(top,#FFFFFF,#DAE9FE);/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#FFFFFF), to(#DAE9FE));/*谷歌*/
    background: -ms-linear-gradient(top, #FFFFFF, #DAE9FE);
    background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #FFFFFF),color-stop(1, #DAE9FE));/* Safari & Chrome*/
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#DAE9FE', gradientType=0);/* ie */
    color: #15428B;
    font-weight:bold;
    border:0;
    font-size: 13px;
    height: 35px;
    cursor: pointer;
    word-wrap:normal;
    word-break:keep-all;
}

.xThead .arrow {
    FONT-SIZE: 9px;
    OVERFLOW: hidden;
    WIDTH: 10px;
    COLOR: #FF3300;
    FONT-FAMILY: webdings;
    HEIGHT: 10px
}

.xThead .triangle-up {
    height: 6px;
    width: 6px;
    border-bottom: 6px solid #cd0a0a;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.xThead .triangle-down {
    height: 6px;
    width: 6px;
    border-top: 6px solid #cd0a0a;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.xTbody {
    border-collapse:collapse; /* 关键属性：合并表格内外边框(其实表格边框有2px，外面1px，里面还有1px) */
    width:100%;
}

.xTbody TD {
    border:0;
    font-size: 12px;
    height: 35px;
}

.xThead a, .xTbody a, .xThead a:visited, .xTbody a:visited {
    font-size:12px;
    color:#15428B;
    word-break:keep-all;
    cursor: pointer;
    text-decoration: NONE;
}

.xThead a:hover, .xTbody a:hover {
    font-size:12px;
    color:#FF3300;
    word-break:keep-all;
    text-decoration: NONE;
    cursor: pointer;
}

table {
    border:0;
    border-collapse:collapse;
    width:100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

